alembic
blinker
click
dominate
Flask
flask_bootstrap
flask_mail
flask_login
flask_migrate
flask_moment
flask_wtf
flask_sqlalchemy
flask_nav
flask_pymongo
flask_script
numpy
filterpy
opencv-python
itsdangerous
Jinja2
Mako
MarkupSafe
python-dateutil
python-editor
six
SQLAlchemy
visitor
Werkzeug
WTForms
filterpy
flask_pymongo
opencv-python